---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import SoMe from "../components/SoMe.astro";
import Sustainability from "../components/Sustainability.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import trustpilot from "../assets/images/trustpilot.png";
---

<MainLayout title="HÖJSKOLENDK">
  <Hero />
  <Section1 />
  <section class="bg-Blue-500">
    <Section2 />
    <section id="trustpilot" class="mx-mobile lg:mx-desktop pt-64 pb-108">
      <h2 class="text-h1Mobile md:text-h1 font-code uppercase pb-16">Rejseanmeldelser</h2>
      <p class="text-subheadingMobile md:text-subheading pb-32">Det siger vores elever</p>
      <div class="sm:grid sm:grid-cols-2 md:grid md:grid-cols-3 lg:grid lg:grid-cols-4 gap-12">
        <Card cardimage="Maja.png" cardname="Maja" date="20. november 2024" heading="Bedste oplevelse" review="Jeg har haft den bedste oplevelse med at rejse med HØjSKOLENDK. De ansatte var så søde og hjalp os til hver en tid. Jeg har fået de bedste bekendtskaber.. " />
        <br class="sm:hidden" />
        <Card cardimage="Tristan.png" cardname="Tristan" date="13. juni 2024" heading="Fantastisk tur!" review="Alt var super godt planlagt, og de ansatte gjorde virkelig alt for, at vi havde det sjovt og trygt. Jeg har fået minder og venner for livet – kan varmt anbefales til alle.. " />
        <br class="sm:hidden" />
        <Card cardimage="Eva.png" cardname="Eva" date="22. juli 2022" heading="Kan ikke anbefales nok!" review="Jeg har rejst med mange forskellige selskaber, men HØjSKOLENDK overgår dem alle! De ansatte er utrolig engagerede og gør alt for, at alle føler sig velkomne.. " />
        <br class="sm:hidden" />
        <Card cardimage="Louis.png" cardname="Louis" date="23. april 2023" heading="Et minde for livet!" review="At rejse med HØjSKOLENDK var en af de bedste beslutninger, jeg har taget. Stemningen var helt i top fra start til slut, og der var altid hjælp at få fra de søde ansatte.. " />
      </div>
      <br />
      <div class="bg-Beige-500 rounded-large p-24 shadow-dropshadow">
        <div class="flex justify-center items-center">
          <Image src={trustpilot} alt="Trustpilot logo" class="w-80 h-auto object-contain" />
        </div>
      </div>
    </section>
    <SoMe />
  </section>
  <Sustainability />
</MainLayout>
