---
import { Image } from "astro:assets";
import heroimage from "../assets/images/heroimage.webp";
import Button from "../components/Button.astro";
---

<section id="hero">
  <h1 class="text-displayMobile md:text-display font-code uppercase text-Black-500 pb-32">Tag på dit Livs Eventyr</h1>
  <p class="text-subheadingMobile md:text-subheading font-sans text-Beige-500 pb-32">Unge højskoleophold i udlandet fyldt med oplevelser, fællesskab og personlig udvikling.</p>
  <Button>Lær mere</Button>
</section>
