---
import Button from "../components/Button.astro";
---

<section id="hero" class="bg-cover bg-center bg-no-repeat" style={`background-image: url(/heroimage.webp);`}>
  <div class="mx-mobile lg:mx-desktop pt-108 pb-108">
    <h1 class="text-displayMobile md:text-display font-code uppercase text-Black-500 pb-32">Tag på dit Livs Eventyr</h1>
    <p class="text-subheadingMobile md:text-subheading font-sans text-Beige-500 pb-32">Unge højskoleophold i udlandet fyldt med oplevelser, fællesskab og personlig udvikling.</p>
    <Button>Lær mere</Button>
  </div>
</section>
