---

---

<div x-data="{ showmenu: false }" class="w-full max-w-screen-xl mx-auto">
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="text-4xl">
      <a href="#">Logo</a>
    </div>

    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row text-Black-500 space-x-48 text-navigationLink font-sans">
        <li class="relative group">
          <a href="#" class="no-underline flex items-center">
            HØJSKOLEOPHOLD
            <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
          </a>
        </li>
        <li class="relative group">
          <a href="#" class="no-underline flex items-center">
            SOMMERHØJSKOLE
            <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
          </a>
        </li>
        <li><a href="#">PRISER</a></li>
        <li class="relative group">
          <a href="#" class="no-underline flex items-center">
            OM OS
            <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
          </a>
        </li>
        <li class="relative group">
          <a href="#" class="no-underline flex items-center">
            TILMELD
            <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
          </a>
        </li>
        <li><a href="#">INFOMØDER</a></li>
      </ul>
    </nav>

    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
      <span :class="{ 'rotate-45 translate-y-2': showmenu }" class="block w-8 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ 'opacity-0': showmenu }" class="block w-8 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ '-rotate-45 -translate-y-2': showmenu }" class="block w-8 h-0.5 bg-black transition-all duration-300"></span>
    </button>
  </div>

  <nav id="mobilmenu" class="flex flex-col px-mobile" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="text-Black-500 text-navigationLink font-code space-y-32">
      <li class="relative group flex items-center justify-between">
        <a href="#">HØJSKOLEOPHOLD</a>
        <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
      </li>
      <li class="relative group flex items-center justify-between">
        <a href="#">SOMMERHØJSKOLE</a>
        <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
      </li>
      <li class="flex items-center justify-between"><a href="#">PRISER</a></li>
      <li class="relative group flex items-center justify-between">
        <a href="#">OM OS</a>
        <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
      </li>
      <li class="relative group flex items-center justify-between">
        <a href="#">TILMELD</a>
        <span class="ml-2 w-2 h-2 border-l-2 border-b-2 border-Black-500 transform -rotate-45"></span>
      </li>
      <li class="flex items-center justify-between"><a href="#">INFOMØDER</a></li>
    </ul>
  </nav>
</div>
